@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --font-family: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdfdfd;
    --foreground: #0e0d0d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

.animate-spinner-grow {
  animation: spinner-grow 0.75s linear infinite;
}